@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
     font-family: 'nb';
     src:url('./assets/fonts/NBInternationalProBoo.woff2')
}
@font-face{
    font-family: "rejoice";
    src: url('./assets/fonts/Rejouice-Headline.woff2');
}
